anaconda-client==1.7.2
anaconda-navigator==1.9.7
anaconda-project==0.8.3
backcall==0.1.0
backports.functools-lru-cache==1.5
backports.os==0.1.1
backports.shutil-get-terminal-size==1.0.0
backports.tempfile==1.0
backports.weakref==1.0.post1
Bottleneck==1.2.1
conda==4.8.2
conda-build==3.18.11
conda-package-handling==1.6.0
conda-verify==3.4.2
decorator==4.4.0
Flask==1.1.1
flatbuffers==1.12
glob2==0.7
google-auth==1.11.3
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
gunicorn==20.1.0
h5py==3.1.0
html5lib==1.0.1
imageio==2.6.0
imagesize==1.1.0
importlib-metadata==0.23
Jinja2==2.10.3
joblib==0.13.2
jupyter==1.0.0
jupyter-client==5.3.3
jupyter-console==6.0.0
jupyter-core==4.5.0
jupyterlab==1.1.4
jupyterlab-server==1.0.6
Keras==2.3.1
Keras-Applications==1.0.8
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
Markdown==3.2.1
MarkupSafe==1.1.1
matplotlib==3.1.1
mock==3.0.5
more-itertools==7.2.0
navigator-updater==0.2.1
networkx==2.3
nltk==3.4.5
notebook==6.0.1
numexpr==2.7.0
numpy==1.19.5
numpydoc==0.9.1
packaging==19.2
path.py==12.0.1
pathlib2==2.3.5
pathtools==0.1.2
Pillow==6.2.0
py==1.8.0
requests==2.22.0
requests-oauthlib==1.3.0
selenium==3.141.0
SpeechRecognition==3.8.1
spyder==3.3.6
spyder-kernels==0.5.2
streamlit==0.64.0
sympy==1.4
tensorboard==2.5.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.5.0
tensorflow-estimator==2.5.0
testpath==0.4.2
tqdm==4.36.1
unicodecsv==0.14.1
urllib3==1.24.2
validators==0.17.1
webencodings==0.5.1
Werkzeug==0.16.0
xlwings==0.15.10
zipp==0.6.0
